.receiptClientContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.receiptClientTitle{
    font-size: 1.3rem;
}

.receptClinetPhotos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 0.5em;
}

.receiptClientButton{
    background-color: #cff3de;
    color: #39e07c;
    border: none;
    padding: 0.3em 0.6em;
    border-radius: 5em;
    font-size: 1.2rem;
    font-weight: 450;
}