.scanReceiptContainer{
    height: 90vh;
    display: flex;
    gap: 3em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scanReceiptData{
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
    align-items: center;
}
.scanReceiptIcon{
    width: 6rem;
    padding: 1.4em;
    background-color: #cff3de;
    border-radius: 5em;
}
.scanReceiptSubtitle{
    color: gray;
    font-size: 1.2rem;
    width: 80%;
}
.scanReceiptTitle{
    font-size: 1.9rem;
}
.scanReceiptButtonsContaienr{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.takePhotoIcon{
    width: 2.2rem;
}
.scanReceiptButtonsContaienr{
    display: flex;
    flex-direction: column;
    gap: 1em;
}